:root {
  --cor-primaria: #e21;
  --cor-secundaria: #900;
  --cor-fundo: #f7f7f7;
  --cor-fundo2: #fff;
  --texto: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--texto);
  background-color: var(--cor-fundo);
}

:root {
  --cor-fundo: #111;
  --cor-fundo2: #000;
  --texto: #fff;
}

a {
  text-decoration: none;
}

.logo {
  text-align: center;
  margin: 80px 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

nav ul {
  width: 800px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav ul a {
  display: block;
  color: var(--texto);
  border: 2px solid transparent;
  padding: 1rem 1.5rem;
  transition: 0.3s;
}

nav ul a:hover {
  border: 2px solid var(--cor-primaria);
}

.section-1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
}

.section-1 .dec {
  width: 80px;
  height: 4px;
  background-color: var(--cor-primaria);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-25%);
}

.section-1-txt {
  max-width: 540px;
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center end;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  margin-right: 20px;
}

.section-1-txt h2 {
  font-size: 2rem;
}

.section-1-txt p {
  line-height: 28px;
  font-size: 1.3rem;
}

.section-1-txt a {
  color: var(--cor-fundo2);
  font-size: 1.3rem;
  background-color: var(--cor-primaria);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}

.section-1-txt a:hover {
  background-color: var(--cor-secundaria);
}

.section-1-img {
  width: 540px;
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center start;
  margin-left: 20px;
}

.section-1-img img {
  max-width: 100%;
  border-radius: 5px;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}

.section-2-txt {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center end;
  margin-right: 20px;
}

.section-2-txt h2 {
  font-size: 4rem;
  text-align: right;
  color: #c6c6c6;
}

.section-2-vantagens {
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center start;
  display: flex;
  padding-left: 60px;
  flex-direction: column;
  gap: 20px 0;
}

.section-2-vantagens:nth-child(3) {
  background-color: #c6c6c6;
}

.section-2-vantagens p,
.section-2-vantagens h4 {
  font-size: 1rem;
}

.section-2-vantagens-single {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.6rem;
  gap: 5px 0;
  transition: 0.1s;
  position: relative;
  padding-left: 20px;
}

.section-2-vantagens-single:nth-child(odd) {
  background-color: var(--cor-fundo);
}

.section-2-vantagens-single:hover {
  border-left: 2px solid var(--cor-primaria);
}

/* .section-2-vantagens-single::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--cor-primaria);
  margin-left: -40px;
} */

footer {
  text-align: center;
}

footer div {
  margin: 80px 0 20px 0;
}

/*1024*/
@media (max-width: 1024px) {
  .section-1 .dec {
    display: none;
  }

  .section-1-img img {
    max-width: 400px;
  }
}

/*768*/
@media (max-width: 768px) {
  .logo {
    margin: 3rem 0;
  }

  nav ul {
    width: auto;
  }

  .section-1 {
    grid-template-rows: auto auto;
    gap: 1.5rem;
  }

  .section-1-img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: auto;
    place-self: center;
  }

  .section-1-txt {
    grid-column: 1/3;
    grid-row: 2/3;
    place-self: center;
    text-align: start;
    align-items: flex-start;
  }

  .section-2-txt h2 {
    font-size: 3rem;
  }

  .section-2-txt {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  nav ul a {
    padding: 0.5rem 1rem;
  }

  .section-1 {
    padding-bottom: 2rem;
  }

  .section-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-left: 0;
  }

  .section-1-txt {
    padding: 0 1rem;
  }

  .section-1-txt a {
    margin: 0 auto;
  }

  .section-1-img img {
    width: 100%;
  }

  .section-2 {
    grid-template-rows: auto auto;
    gap: 1rem 0;
  }

  .section-2-txt {
    grid-row: 1/2;
    grid-column: 1/3;
    place-self: center;
  }

  .section-2-txt h2 {
    text-align: start;
  }

  .section-2-vantagens {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .section-2-vantagens-single:nth-child(odd) {
    background-color: transparent;
  }
}
